.clearfix {
  &:before,
  &:after {
    display: block;
    content: "";
    visibility: hidden;
    clear: both;
  }
}
@for $i from 1 through 10 {
  .col-#{$i} {
    width: #{$i}0%;
    float: left;
  }
}

body {
  color: #fff;
  text-align: center;
}

.page {
  position: relative;
}
.features {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features {
  .row-2 {
    @extend .clearfix;
    .feature {
      width: 50%;
      float: left;
    }
  }
  .row-3 {
    @extend .clearfix;
    .feature {
      width: 33%;
      float: left;
    }
  }
  .row-4 {
    @extend .clearfix;
    .feature {
      width: 25%;
      float: left;
    }
  }
  .row-5 {
    @extend .clearfix;
    .feature {
      width: 20%;
      float: left;
    }
  }
}

.feature {
  position: relative;

  .center {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100%;

      margin: 0;
      padding: 0;
    
      transform: translate(-50%,-50%);
      text-align: center;
  }
}

.example-page-index {
  .brand {
    width: 100%;
  }
  .title {
    position: absolute;
    bottom: 0;

    width: 100%;
    margin: 2em auto;

    font-size: 1.5em;
    color: #fff;
    text-align: center;
  }

  $width: 125px;

  .features {
    width: $width * 3;
    height: $width * 3;
  }
  .feature {
    position: absolute;
    width: $width;
    height: $width;

    &:nth-child(1) {
      top: 25%;
      left: 25%;
      margin-top: -$width/2;
      margin-left: -$width/2;
    }
    &:nth-child(2) {
      top: 25%;
      left: 75%;
      margin-top: -$width/2;
      margin-left: -$width/2;
    }
    &:nth-child(3) {
      z-index: 2;
      top: 50%;
      left: 50%;
      margin-top: -$width/2;
      margin-left: -$width/2;

      border-radius: 50%;
    }

    &:nth-child(4) {
      top: 75%;
      left: 25%;
      margin-top: -$width/2;
      margin-left: -$width/2;
    }
    &:nth-child(5) {
      top: 75%;
      left: 75%;
      margin-top: -$width/2;
      margin-left: -$width/2;
    }
  }
}

.example-page-list-1 {
  $height: 150px;

  .feature {
    height: $height;
  }
}

.example-page-list-2 {
  $height: 100px;

  .feature {
    height: $height;
  }
}

.example-page-contact {
  $width: 100px;

  .features {
    position: relative;
    height: 100%;

  }
  .feature {
    position: absolute;
    width: $width;
    height: $width;

    &:nth-child(1) {
      right: 0;

        transform: rotate(-30deg);
    }
    &:nth-child(2) {
      top: $width * 3 / 2;
      left: 0;
    }
    &:nth-child(3) {
      top: $width * 4;
      left: $width;

      transform: rotate(-20deg);
    }
    &.text {
      top: $width * 3 / 2;
      left: $width * 3 / 2;

      width: $width * 2;
      height: $width * 2;

      line-height: 2;

      transform: rotate(45deg) translate(-10px, 0);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        transform: rotate(-45deg) translate(-20px, 30px);
      }
    }
    img {
      max-width: 100%;
    }
  }

  .contact {
    position: absolute;
    bottom: 20px;
    width: 100%;

    a {
      color: inherit;
      font-size: 2em;
      text-decoration: none;
    }
  }
}


@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-4px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}

.upDown {
  animation-name: upDown;
}

.icon-arrow-down {
  $w: 20px;
  $color: orange;
//  position: fixed;
  bottom: 0;
  left: 50%;

  width: 0;
  height: 0;

  border-top: $w solid rgba(245, 245, 243, 0.3);
  border-left: $w solid transparent;
  border-right: $w solid transparent;
}


