body {
  color: #fff;
  text-align: center;
}

.page {
  position: relative;
}

.features {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.example-page-1 .brand {
  width: 100%;
}
.example-page-1 .title {
  margin: 2em auto;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

.example-page-2 .features {
  position: relative;
  width: 360px;
  height: 360px;
}
.example-page-2 .feature {
  position: absolute;
  width: 120px;
  height: 120px;
}
.example-page-2 .feature:nth-child(1) {
  top: 25%;
  left: 25%;
  margin-top: -60px;
  margin-left: -60px;
}
.example-page-2 .feature:nth-child(2) {
  top: 25%;
  left: 75%;
  margin-top: -60px;
  margin-left: -60px;
}
.example-page-2 .feature:nth-child(3) {
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}
.example-page-2 .feature:nth-child(4) {
  top: 75%;
  left: 25%;
  margin-top: -60px;
  margin-left: -60px;
}
.example-page-2 .feature:nth-child(5) {
  top: 75%;
  left: 75%;
  margin-top: -60px;
  margin-left: -60px;
}

.example-page-3 .features {
  height: 100%;
}
.example-page-3 .feature {
  height: 20%;
}

.example-page-4 .features {
  height: 100%;
}
.example-page-4 .feature {
  height: 33.33333%;
}

.example-page-5 .features {
  position: relative;
  height: 100%;
}
.example-page-5 .feature {
  position: absolute;
  width: 100px;
  height: 100px;
}
.example-page-5 .feature:nth-child(1) {
  right: 0;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.example-page-5 .feature:nth-child(2) {
  top: 150px;
  left: 0;
}
.example-page-5 .feature:nth-child(3) {
  top: 400px;
  left: 100px;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.example-page-5 .feature.text {
  top: 150px;
  left: 150px;
  width: 200px;
  height: 200px;
  line-height: 2;
  -webkit-transform: rotate(30deg) translate(-10px, 0);
      -ms-transform: rotate(30deg) translate(-10px, 0);
          transform: rotate(30deg) translate(-10px, 0);
}
.example-page-5 .feature img {
  max-width: 100%;
}
